

   <!-- section header -->
<header class="header"> 
    <div class="content_header">
        <div class="container ">
            <div class="header_content">
                <div class="col-md-10 mx-auto p-4">
                    <h2 class=" text-center text-light">
                        ¿Eres Director o Gerente de Empresa,de Ingenieria <br>
                            o de Tegnologias de Informacion?
                    </h2>
                </div>
                <div class="col-md-6 col-10 m-top subheader mx-auto">
                    <p class="text-light justify">
                        En esta Masterclass podras contar con una <b>GUÍA</b> del proyecto
                        para su transformacion, Ademas, Contaras con el <b>ANÁLISIS</b>
                        de procesos,seleccion de <b>TECNOLGÍAS</b> y su <b>ESTRATEGIA</b>
                        para implementarla.
                    </p>
                </div>
            </div>      
            <div class="row title_content mx-auto  d-flex flex-row-reverse ">
                <div class="col-md-5 m-top text-center">
                  <img src="assets/Logo masterClass.png" alt="logo_master">
                  <h1 class="text-light title m-4">TRANSFORMACIÓN 
                                        <br> <b>DIGITAL</b>        
                  </h1>
                  <p class="mt-4 text-light">Impartido por el Mtro. Rosalino Zamorano</p>
                  <p class="color-primary"><b>Martes 08 de Junio <br> Via Zoom</b></p>
                  <button class="btn btn-register">Registrarme ahora</button>
                </div>
            </div>
        </div>
    </div>
</header>


<main>
    <section>
        <div class="container">
            <div class="col-md-6 m-top mx-auto text-center">               
                <h4>
                    <b>  Impartido por <br> Mtro. Rosalindo Zamorano </b>
                </h4>
            </div>
         <div class="row m-top">
             <div class="col-md-4 mb-4">
                <div class="card card-line">
                  <img class="stark-img" src="assets/Estrella.png" alt="start">
                  <div class="card-body">
                    <p class="card-text justify p-3">
                        Amplia experiencia como Director de Tecologías de la información.
                    </p>
                  </div>
                </div>
             </div>
             <div class="col-md-8">
                <div class="p-4">
                   <ul class="list-1">
                       <li>Administracion de servicios de TI, recursos informaticos y contratos
                            en sede principal y 5 subsedes(INTRANET).</li>
                       <li>Consolidacion de implementacion del ERP BAAN V.</li>
                       <li>Diseño y construccion de los MDFś de la INTRANET.</li>
                       <li>Migracion de operacion critica de Data Center Comercial.</li>
                   </ul> 
                </div>
            </div>
            <div class="col-md-4 m-top">
                <div class="card card-line">
                    <img class="stark-img" src="assets/Estrella.png" alt="start">
                    <div class="card-body">
                      <p class="justify p-2">
                          Ingeniero de proyectos de implementacion
                          ERP BAAN V y diseño e implementacion de 
                          red de comunicaciones y telecomunicaciones CIDES.
                      </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 m-top">
                <div class="card card-line">
                    <img class="stark-img" src="assets/Estrella.png" alt="start">
                    <div class="card-body">
                        <ul class="p-3 list-2">
                            <li>Gerente de computo y comunicaciones.</li>
                            <li>Gerente de desarollo de software.</li>
                            <li>Desarrollador de Sistemas.</li>
                            <li>Administrador de Redes y Equipos de Cómputo.</li>
                        </ul>
                    </div>
                </div>
           </div>
         </div>
        </div>
    </section>
    <section class="testimonial"> 
            <div class="container mb-6">
                
                <div class="col-md-5  m-top mx-auto p-1  text-center">     
                    <h3 class="m-top color-secondary">
                       <b>Evento Gratuito</b> 
                       dirigido a profesionales de la industria
                    </h3>       
                </div>
                <div class="row mb-6 m-top">
                    <div class="col-md-4 ">
                         <p class="p-4">
                            <span class="line_v">|</span>
                            <b>
                               " Nuestro mercado es global pero nuestra competencia
                                tambien es de ese Tamaño "
                            </b>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p class="p-3">
                            <span class="line_v">|</span>
                            <b>
                                " Agilidad en los procesos, ventaja competitiva en desarrollo de
                                productos y eficiente aplicacion de los recursos con mejor ROL "
                            </b>
                        
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p class="p-3">
                            <span class="line_v">|</span>
                            <b> " La transformacion Digital provoca que todo sea mas rápido y eficiente "</b>
                        </p>
                    </div>
                </div>                            
            </div>
    </section>

    <section>
         <div class="container">
            <div class="row m-top">
                <div class="col-md-6">
                    <div class="text-center" > 
                        <span class="vertical-line">_</span>
                        
                       
                         <h4 class="text-center title_f " >
                             <b>
                                La Transforacion digital provoca que<br>
                                 todo sea mas rapido y eficiente
                            </b> 
                     
                        </h4>
                        <h6 class="m-top text-center ">
                            <b>
                              "La capacidad de adaptarse a la nueva realidad <br>
                                es la clave  para la transformacion digital"
                            </b> 
                        </h6>
                        <iframe 
                                class="col-lg-11 col-md-11  m-top col-sm-11" height="300px" 
                                src="https://www.youtube.com/embed/8j9szxn-68c" 
                                title="YouTube video player" frameborder="0" 
                                allow="accelerometer; autoplay; clipboard-write; 
                                encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                        </iframe>
                    </div>
                    
                    <div class="m-top">
                        <h5 class="color-secondary text-center"> <b>Descubre entre otros temas:</b> </h5>
                        <ul class="list-3 m-top">
                            <li style="list-style-image: url('assets/Estrategia.png');">Estrategia</li>
                            <li style="list-style-image: url('assets/Tecnología.png');">Seleccion de tecnologias</li>
                            <li style="list-style-image: url('assets/Análisi\ de\ procesos.png');">Analisis de procesos de la Industria 4.0</li>
                            <li style="list-style-image: url('assets/Hoja\ de\ ruta.png');">Hoja de ruta para una implementacion exitosa</li>
                            <li style="list-style-image: url('assets/Qué\ hacer.png');">Qué hacer para obtener el moderno aprovechamiento</li>

                        </ul>
                    </div>
                </div>
            <div class="col-md-6">
                <div class="card card-form p-3">
                    <form>
                        <div class=" p-3 mx-auto  text-center">     
                            <h4 class="color-secondary">
                                <b>
                                    No pierdas la oprtunidad <br>
                                    ¡Registrate Ahora!
                                </b>
                            </h4>       
                        </div>
                           <div class="form-group">
                             <label class="p-2" for="name">Nombre</label>
                             <input type="text" class="form-control" id="nombre" aria-describedby="nombre">
                           </div>
                           <div class="form-group mb-3" >
                             <label class="p-2" for="apellido">Apellido</label>
                             <input type="text" class="form-control" id="apellido">
                           </div>
                         <div class="form-group mb-3" >
                            <label class="p-2" for="apellido">Telefono</label>
                            <input type="phone" class="form-control" id="phoen">
                          </div>
                         <div class="form-group mb-3" >
                            <label class="p-2" for="cargo">Cargo</label>
                            <input type="text" class="form-control" id="cargo">
                          </div>
                          <div class="form-group mb-3" >
                            <label class="p-2" for="apellido">Apellido</label>
                            <input type="text" class="form-control" id="apellido">
                          </div>
                          <div class="form-group mb-3" >
                              <label  class="p-2" for="email">Mail</label>
                              <input type="email" class="form-control" id="email">
                          </div>
                          <div class="form-group mb-3" >
                              <label class="p-2" for="entidad">Entidad Federativa</label>
                                  <select disabled class="form-select  form-select-lg mb-3" >
                                  <option selected>Selecciona la entidad</option>
                              </select>
                           </div>
                        <button type="submit" class="btn btn-primary btn-large">Registrarse</button>
                    </form>
                </div>               
             </div>
            </div>
         </div>   
    </section>
</main>

<footer class="d-flex m-top flex-row-reverse bd-highlight">
        <img class="p-4" src="assets/DMD Logo.png" alt="">
</footer>
